.header{
    width: 100%;
    height: 80px;
    background-color: black;
}
.headerMain{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.signInHeader{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.loginRegistrDiv{
    width: 250px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLink{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.navLink:hover{
    color: #a8cdf3;
}
.header .active{
    color: red;
}
@media screen and (max-width: 1450px){
    .headerMain, .signInHeader{
        width: 1150px;
    }
}
@media screen and (max-width: 1201px){
    .headerMain, .signInHeader{
        width: 980px;
    }
}
@media screen and (max-width: 1201px){
    .headerMain, .signInHeader{
        width: 750px;
    }
}