.registerMain{
    position: absolute;
    z-index: 4;
    width: 400px;
    height: 593px;
    background-color: black;
    margin-left: 870px;
}
.form{
    width: 80%;
    height: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}